@model M_Suite.Models.User

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
    <div class="profile-content">
        <div class="profile-header">
            <h2>Create User</h2>
        </div>

        <div class="profile-details">
            <div class="form-row">
                <div class="form-field">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsCode" class="control-label">
                    <span class="color-indicator color-red"></span>Code
                </label>
                <input asp-for="UsCode" class="form-control" />
                <span asp-validation-for="UsCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsFirstName" class="control-label">
                    <span class="color-indicator color-red"></span>FirstName
                </label>
                <input asp-for="UsFirstName" class="form-control" />
                <span asp-validation-for="UsFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsLastName" class="control-label">
                     <span class="color-indicator color-red"></span>LastName
                </label>
                <input asp-for="UsLastName" class="form-control" />
                <span asp-validation-for="UsLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsShortName" class="control-label">
                     <span class="color-indicator color-red"></span>ShortName
                </label>
                <input asp-for="UsShortName" class="form-control" />
                <span asp-validation-for="UsShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsLogin" class="control-label">
                     <span class="color-indicator color-red"></span>Login
                </label>
                <input asp-for="UsLogin" class="form-control" />
                <span asp-validation-for="UsLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for= profile*@ class="control-label">
                     <span class="color-indicator color-red"></span>profile
                </label>
                <select @*asp-for= profile*@ class="form-control" />
                        <option value="">-- Select Role --</option>
                        <option value="Admin">Admin</option>
                        <option value="SuperAdmin">Super Admin</option>
                <span @*asp-validation-for="profile"*@ class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label @*asp-for= supervisor*@ class="control-label">
                     <span class="color-indicator color-green"></span>Supervisor
                </label>
                <select @*asp-for= supervisor*@ class="form-control" />
                       
                <span @*asp-validation-for="supervisor"*@ class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label @*asp-for= gender*@ class="control-label">
                     <span class="color-indicator color-green"></span>Gender
                </label>
                <select @*asp-for= gender*@ class="form-control" />
                        <option value="">-- Select Gender --</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                <span @*asp-validation-for="gender"*@ class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label><span class="color-indicator color-green"></span>Equivalent Customer</label>
                <div class="password-input">
                    <input type="text" id="businessUnitInput">
                        <div class="form-field-actions">
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;">
                            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        <svg id="plusIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer; margin-left: 5px;">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UsEmail" class="control-label">
                    <span class="color-indicator color-green"></span>Email
                </label>
                <input asp-for="UsEmail" class="form-control" />
                <span asp-validation-for="UsEmail" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label><span class="color-indicator color-red"></span>Business Unit</label>
                <div class="password-input">
                    <input type="text" id="businessUnitInput">
                        <div class="form-field-actions">
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;">
                            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        <svg id="plusIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer; margin-left: 5px;">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                        </svg>
                    </div>
                </div>
            </div>
             <div class="form-group">
                <label><span class="color-indicator color-green"></span>Warehouse</label>
                <div class="password-input">
                    <input type="text" id="businessUnitInput">
                        <div class="form-field-actions">
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;">
                            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        <svg id="plusIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer; margin-left: 5px;">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label><span class="color-indicator color-green"></span>Default Warehouse</label>
                <div class="password-input">
                    <input type="text" id="businessUnitInput">
                        <div class="form-field-actions">
                        <svg id="eyeIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer;">
                            <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        <svg id="plusIcon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="cursor: pointer; margin-left: 5px;">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                        </svg>
                    </div>
                </div>
            </div>

           <div class="actions">
                            <a asp-action="Index" class="btn btn-cancel">Cancel</a>
                            <button type="submit" class="btn btn-save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
