@model M_Suite.Models.User

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="profile-content">
        <div class="profile-header">
            <h2>User Edit</h2>
        </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsId" />
            <div class="form-group">
                <label asp-for="UsUsId" class="control-label">Super User ID</label>
                <select asp-for="UsUsId" class="form-control" asp-items="ViewBag.UsUsId"></select>
                <span asp-validation-for="UsUsId" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="UsThpId" class="control-label"></label> *@
            @*     <input asp-for="UsThpId" class="form-control" /> *@
            @*     <span asp-validation-for="UsThpId" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsCdIdGen" class="control-label"></label> *@
            @*     <input asp-for="UsCdIdGen" class="form-control" /> *@
            @*     <span asp-validation-for="UsCdIdGen" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsCdIdTtl" class="control-label"></label> *@
            @*     <input asp-for="UsCdIdTtl" class="form-control" /> *@
            @*     <span asp-validation-for="UsCdIdTtl" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="UsCode" class="control-label">User Code</label>
                <input asp-for="UsCode" class="form-control" />
                <span asp-validation-for="UsCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsFirstName" class="control-label">First Name </label>
                <input asp-for="UsFirstName" class="form-control" />
                <span asp-validation-for="UsFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsLastName" class="control-label">Last Name </label>
                <input asp-for="UsLastName" class="form-control" />
                <span asp-validation-for="UsLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsShortName" class="control-label">Short Name </label>
                <input asp-for="UsShortName" class="form-control" />
                <span asp-validation-for="UsShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsLogin" class="control-label">Username</label>
                <input asp-for="UsLogin" class="form-control" />
                <span asp-validation-for="UsLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsPassword" class="control-label">Password</label>
                <input asp-for="UsPassword" class="form-control" />
                <span asp-validation-for="UsPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsEmail" class="control-label">Email</label>
                <input asp-for="UsEmail" class="form-control" />
                <span asp-validation-for="UsEmail" class="text-danger"></span>
            </div>
            @* //make it ON / OFF *@
            <div class="form-group">
                <label asp-for="UsReceiveNotification" class="control-label">Receive Notification</label>
                <input asp-for="UsReceiveNotification" class="form-control" />
                <span asp-validation-for="UsReceiveNotification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsExpiryDate" class="control-label">Expiry Date</label>
                <input asp-for="UsExpiryDate" class="form-control" />
                <span asp-validation-for="UsExpiryDate" class="text-danger"></span>
            </div>
                @* //make it ON / OFF *@
            <div class="form-group">
                <label asp-for="UsActive" class="control-label">Active </label>
                <input asp-for="UsActive" class="form-control" />
                <span asp-validation-for="UsActive" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="UsDeleted" class="control-label"></label> *@
            @*     <input asp-for="UsDeleted" class="form-control" /> *@
            @*     <span asp-validation-for="UsDeleted" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsDbUser" class="control-label"></label> *@
            @*     <input asp-for="UsDbUser" class="form-control" /> *@
            @*     <span asp-validation-for="UsDbUser" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsImported" class="control-label"></label> *@
            @*     <input asp-for="UsImported" class="form-control" /> *@
            @*     <span asp-validation-for="UsImported" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsReadonly" class="control-label"></label> *@
            @*     <input asp-for="UsReadonly" class="form-control" /> *@
            @*     <span asp-validation-for="UsReadonly" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsToken" class="control-label"></label> *@
            @*     <input asp-for="UsToken" class="form-control" /> *@
            @*     <span asp-validation-for="UsToken" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsRoute" class="control-label"></label> *@
            @*     <input asp-for="UsRoute" class="form-control" /> *@
            @*     <span asp-validation-for="UsRoute" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsPrefix" class="control-label"></label> *@
            @*     <input asp-for="UsPrefix" class="form-control" /> *@
            @*     <span asp-validation-for="UsPrefix" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="UsType" class="control-label"></label> *@
            @*     <input asp-for="UsType" class="form-control" /> *@
            @*     <span asp-validation-for="UsType" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
