@model M_Suite.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsId" />

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>User ID</th>
                        <td>
                            <select asp-for="UsUsId" class="form-control" asp-items="ViewBag.UsUsId"></select>
                            <span asp-validation-for="UsUsId" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Thp ID</th>
                        <td>
                            <input asp-for="UsThpId" class="form-control" />
                            <span asp-validation-for="UsThpId" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Code Generated</th>
                        <td>
                            <input asp-for="UsCdIdGen" class="form-control" />
                            <span asp-validation-for="UsCdIdGen" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Code Title</th>
                        <td>
                            <input asp-for="UsCdIdTtl" class="form-control" />
                            <span asp-validation-for="UsCdIdTtl" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>
                            <input asp-for="UsCode" class="form-control" />
                            <span asp-validation-for="UsCode" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>
                            <input asp-for="UsFirstName" class="form-control" />
                            <span asp-validation-for="UsFirstName" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>
                            <input asp-for="UsLastName" class="form-control" />
                            <span asp-validation-for="UsLastName" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Short Name</th>
                        <td>
                            <input asp-for="UsShortName" class="form-control" />
                            <span asp-validation-for="UsShortName" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Login</th>
                        <td>
                            <input asp-for="UsLogin" class="form-control" />
                            <span asp-validation-for="UsLogin" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>
                            <input asp-for="UsPassword" class="form-control" />
                            <span asp-validation-for="UsPassword" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <input asp-for="UsEmail" class="form-control" />
                            <span asp-validation-for="UsEmail" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Receive Notification</th>
                        <td>
                            <input asp-for="UsReceiveNotification" class="form-control" />
                            <span asp-validation-for="UsReceiveNotification" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Expiry Date</th>
                        <td>
                            <input asp-for="UsExpiryDate" class="form-control" />
                            <span asp-validation-for="UsExpiryDate" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>
                            <input asp-for="UsActive" class="form-control" />
                            <span asp-validation-for="UsActive" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Deleted</th>
                        <td>
                            <input asp-for="UsDeleted" class="form-control" />
                            <span asp-validation-for="UsDeleted" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Database User</th>
                        <td>
                            <input asp-for="UsDbUser" class="form-control" />
                            <span asp-validation-for="UsDbUser" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Imported</th>
                        <td>
                            <input asp-for="UsImported" class="form-control" />
                            <span asp-validation-for="UsImported" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Readonly</th>
                        <td>
                            <input asp-for="UsReadonly" class="form-control" />
                            <span asp-validation-for="UsReadonly" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Token</th>
                        <td>
                            <input asp-for="UsToken" class="form-control" />
                            <span asp-validation-for="UsToken" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Route</th>
                        <td>
                            <input asp-for="UsRoute" class="form-control" />
                            <span asp-validation-for="UsRoute" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Prefix</th>
                        <td>
                            <input asp-for="UsPrefix" class="form-control" />
                            <span asp-validation-for="UsPrefix" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>
                            <input asp-for="UsType" class="form-control" />
                            <span asp-validation-for="UsType" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
